.headerContainer {
    padding-top: 2rem;
}

.headerContainer-heading {
    color: #64748b;
    text-align: center;
}
.bodyContainer {
    padding: 1rem 1rem;
}

.bodyContainer-center {
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    padding: 40px;
    border: 2px solid lightgray;
    padding-top: 0.5rem;
}
.bodyContainer-center > h1 {
    padding-top: 1rem;
}
.bodyContainer-center > small {
    padding-top: 1rem;
}
.bodyContainer-center > p {
    padding-top: 1rem;
}
.linkContainer {
    padding-top: 1.5rem;
}
.link-primary {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    margin-right: 00.5rem;
    background-color: #6c63ff;
    border-radius: 1rem 2rem;
}
.link-secondary2 {
    text-decoration: none;
    color: #6c63ff;
    padding: 0.5rem 1rem;
    border: 1px solid #6c63ff;
    border-radius: 1rem 2rem;
}
.link-primary1:hover {
    background-color: #f3f4f6;
    color: #6c63ff;
    border: 1px solid #6c63ff;
}
.link-secondary:hover {
    background-color: #6c63ff;
}
