.container > h1 {
    text-align: center;
    color: #64748b;
}
.container > h1 > span {
    color: #6c63ff;
}
.imageLogo {
    max-width: 620px;
    margin: auto;
    margin-top: 1rem;
    display: block;
}
.section {
    margin-top: 20px;
    max-width: 500;
    margin: auto;
    padding: 2rem 0rem;
    background-color: #f3f4f6;
}
.projectSection {
    padding: 2rem 0rem;
}
.blogSection {
    padding: 2rem 0rem;
    background-color: #99f6e4;
}
.container-center {
    max-width: 500px;
    margin: auto;
}
.container-center > h2 {
    text-align: center;
    padding: 20px;
}
.container-center > p {
    text-align: center;
    padding-bottom: 20px;
}
.link-primary1 {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    background-color: #6c63ff;
    border-radius: 1rem 2rem;
}
.link-secondary {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid #6c63ff;
    border-radius: 1rem 2rem;
}
.link-primary1:hover {
    background-color: #f3f4f6;
    color: #6c63ff;
    border: 1px solid #6c63ff;
}
.link-secondary2:hover {
    background-color: #6c63ff;
    color: black;
}
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #6c63ff;
    margin-top: 10px;
    position: sticky;
    padding: 1rem 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    overflow: hidden;
}

.footerLink {
    cursor: pointer;
    display: flex;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.footerLink:hover {
    color: black;
}
.footerLink > img {
    width: 20px;
    height: 20px;
    padding-right: 2px;
}
